
//
// VARIABLES
//

// Colors
$blue: #4183C4; //Used for links

// Grays
$selectionTextColour: #ffffff; //Used for Selections
$headerColour: #ffffff; //Used for Headers
$textColour: #ffffff; //Used for Text (Mostly)
$altTextColour: #ffffff; //Alt Text Colour 
$backgroundAltColour: #553f3f; //Background Colour for Wrapper Footer
$wrapperBorder: #515151;
$backgroundColour: #1d221d; //Background Main

// Font stacks
$helvetica: Helvetica, Arial, sans-serif;
$helveticaNeue: "Helvetica Neue", Helvetica, Arial, sans-serif;
$georgia: Georgia, serif;

// Mobile breakpoints
@mixin mobile {
  @media screen and (max-width: 640px) {
    @content;
  }
}